<html>
<head>
	<title>BookRelay</title>
	<style>

		#title {
		    display: inline-block;
    		padding:10px;
		}
		#listNav {
		    display: inline-block;
		    float: right;
		}
		#listNav li{
			float:left;
			list-style-type: none;
			right:5px;
			padding : 15px;
			margin-right : 30px;
			border-right:  1px solid black;
			border-left:  1px solid black;

		}

		#listNav li:hover{
			background-color: #0040FF;
		}
		.disconnect{
			background-color: #DF0101;
			border-radius: 5px;
    		box-shadow: 0px 0px 5px;
    	}
		a{
			text-decoration: none;

		}
		a:visited{
			color:black;
		}
		#header {
			border-bottom: 2px solid black;
			background-color: #E0F2F7;
			margin:0px;
		}

		#lastAdded{
			border: 1px solid black;
			background-color: white;
		}

		#MostPopular {
			margin-top: 10px;
			border: 1px solid black;
			background-color: white;
		}
		#corps {
			width: 80%;
		}

	</style>
</head>
<body style="margin: 0;background-color: #E0F2F7;">

	<div id="header">
		<a href="#"><h1 id="title">BookRelay</h1></a>
		<div id="listNav">
			<ul>
				<a href=""><li>Profile</li></a>
				<a href=""><li>Favorite</li></a>
				<a href=""><li>My Books</li></a>
				<a href="loggin"><li>Log in</li></a>
				<a href=""><li class="disconnect">Log out</li></a>
			</ul>
		</div>
	</div>
	<div id="corps">
		<div id="lastAdded">
			<h1>Last publication</h1>
		</div>
		<div id="MostPopular">
			<h1>Trending right now</h1>
		</div>
	</div>
	<p> hummm</p>
	<p><%= id %> ~###################################</p>
</body>
</html>