<html>
<head>
	<title>BookRelay</title>
	<style type="text/css">
		label { 
			margin-top: 3%;
			display: inline-block;
			width: 20%;
			text-align: right;
		}
		form {
			margin-left: 25%;
			margin-top: 10%;
		}
	</style>
</head>
<body style="margin: 0;background-color: #E0F2F7;">
	<div style="border-bottom: 2px solid black;">
		<h1 style="margin-left:40%;margin-top:5%;">Loggin</h1>
	</div>
	<form method="POST" action="/">
		<label for="id">Username or email : </label>
		<input type="text" id="id" name="id"/><br>
		<label for="pass">Password :</label>
		<input type="password" id="pass" name="pass"/><br>
		<label for="button">Valider :</label>
		<input type="submit" name="button"  value="submit"/>
	</form>
</body>
</html>